@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

/* reset CSS "start" */

* {
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
  --gray-color: #e4e4e4;
  --gray-two: #cccccc;
  --gray-three: #333333;
  --gray-four: #aaaaaa;
  --black-one: #131313;
  --black-two: #42424210;
  --transparent-white: #ffffff00;
  --orange-color: #e43500;
  --orange-two: #ff4422;
  --orange-three: rgba(255,68,34,.08);
  --orange-four: #fffaf8;
  --ubuntu-font: 'Ubuntu', sans-serif;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
}

img {
  width: 100%;
}

/* reset CSS "end" */

/* mobile screen style */
.header-page{
  display: grid;
  grid-template-columns: 6.5rem 1fr;
}

.logo-navbar {
  background-color: var(--black-one);
}

.logo-navbar:hover {
  background-image: url(assets/home-1.gif);
}

.logo-image {
  padding: 0.8rem;
}

.top-navbar {
  display: none;
}

.bottom-navbar-list {
  display: flex;
  list-style: none;
  align-items: center;
}

.bottom-navbar-list li + li {
  border-left: 1px solid var(--gray-two);
}

.icons-navbar-1 {
  color: var(--gray-two);
  font-size: 1rem;
  padding: 0.83rem;
}

.icons-navbar-1:hover {
  color: var(--gray-three);
}

.icons-navbar-2 {
  color: var(--orange-color);
  font-size: 2rem;
  padding: 0.355rem;
}

.display-flex {
  display: flex;
}

.margin-left-auto {
  margin-left: auto;
}

.without-style-button {
  background-color: white;
  border: none;
}

.firts-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 136px);
  grid-gap: 0.5rem;
  margin: 0.5rem;
}

.firts-article-firts-section {
  background-image: linear-gradient(to bottom, var(--black-two), var(--black-one)),
  url(assets/pic-1-firts-section.jpg);
  background-size: cover;
  background-position: 50%;
  flex-direction: column;
  cursor: pointer;
}

.second-article-firts-section {
  background-image: linear-gradient(to bottom, var(--black-two), var(--black-one)),
  url(assets/pic-2-firts-section.jpg);
  background-size: cover;
  background-position: 50%;
  cursor: pointer;
}

.third-article-firts-section {
  background-image: linear-gradient(to bottom, var(--black-two), var(--black-one)),
  url(assets/pic-3-firts-section.webp);
  background-size: cover;
  background-position: 50%;
  cursor: pointer;
}

.transition-hover {
  transition: .4s ease;
  opacity: 1;
  will-change: opacity;
}

.transition-hover:hover {
  opacity: 0.95;
}

.margin-top-auto {
  margin-top: auto;
}

.title-firts-article-firts-section {
  color: white;
  text-decoration: none;
  font-family: var(--ubuntu-font);
}

.padding-1 {
  padding: 0.7rem;
}

.subtitle-firts-article-firts-section {
  color: var(--gray-two);
}

.subtitle-firts-article-firts-section-a:hover {
  color: white;
  text-decoration: underline;
}

.subtitle-firts-article-firts-section-a {
  color: var(--gray-two);
}

.text-decoration-none {
  text-decoration: none;
}

.padding-bottom-dot-2 {
  padding-bottom: 0.2rem;
}

.second-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, auto);
  grid-gap: 0.5rem;
  margin: 0.5rem;
}

.title-second-section {
  margin-top: 2rem;
}

.text-title-second-section {
  color: var(--orange-color);
  font-family: var(--ubuntu-font);
  font-size: 1.7rem;
  letter-spacing: -1px;
}

.text-title-second-section:hover {
  color: var(--black-one);
}

.arrow-right-title {
  font-size: 1.2rem;
}

.picture-1-article-second-section {
  background-image: url(assets/pic-1ts-article-2nd-section.png);
  height: 75px;
  width: 75px;
  background-size: cover;
  background-position: 50%;
  cursor: pointer;
  flex-shrink: 0;
}

.picture-2-article-second-section {
  background-image: url(assets/pic-2nd-article-2nd-section.webp);
  height: 75px;
  width: 75px;
  background-size: cover;
  background-position: 50%;
  cursor: pointer;
  flex-shrink: 0;
}

.picture-3-article-second-section {
  background-image: url(assets/pic-1-firts-section.jpg);
  height: 75px;
  width: 75px;
  background-size: cover;
  background-position: 50%;
  cursor: pointer;
  flex-shrink: 0;
}

.picture-4-article-second-section {
  background-image: url(assets/pic-4th-article-2nd-section.jpg);
  height: 75px;
  width: 75px;
  background-size: cover;
  background-position: 50%;
  cursor: pointer;
  flex-shrink: 0;
}

.picture-5-article-second-section {
  background-image: url(assets/pic-2-firts-section.jpg);
  height: 75px;
  width: 75px;
  background-size: cover;
  background-position: 50%;
  cursor: pointer;
  flex-shrink: 0;
}

.picture-6-article-second-section {
  background-image: url(assets/pic-3-firts-section.webp);
  height: 75px;
  width: 75px;
  background-size: cover;
  background-position: 50%;
  cursor: pointer;
  flex-shrink: 0;
}

.picture-7-article-second-section {
  background-image: url(assets/pic-7th-article-2nd-section.jpg);
  height: 75px;
  width: 75px;
  background-size: cover;
  background-position: 50%;
  cursor: pointer;
  flex-shrink: 0;
}

.picture-8-article-second-section {
  background-image: url(assets/pic-8th-article-2nd-section.webp);
  height: 75px;
  width: 75px;
  background-size: cover;
  background-position: 50%;
  cursor: pointer;
  flex-shrink: 0;
}

.info-firts-article-second-section {
  padding: 0.5rem;
}

.title-info-firts-article-second-section {
  font-family: var(--ubuntu-font);
  text-decoration: none;
  color: var(--black-one);
}

.title-info-firts-article-second-section:hover {
  box-shadow: inset 0 -1px 0 rgba(255,68,34,.25);
  color: var(--orange-color);
}

.text-info-firts-article-second-section {
  color: var(--gray-four);
  position: relative;
  top: 0.3rem;
}

.dash-point-second-section {
  font-size: 0.3rem;
  position: relative;
  bottom: 0.19rem;
  left: 0.09rem;
}

.autor-firts-article-second-section {
  color: var(--gray-four);
  text-decoration: none;
}

.autor-firts-article-second-section:hover {
  color: var(--gray-three);
}

.third-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-gap: 0.5rem;
  margin: 0.5rem;
}

.fourth-article-third-section {
  display: none;
}

.title-third-section {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.p-title-second-section {
  line-height: 2rem;
  color: var(--orange-color);
  font-size: 0.9rem;
}

.p-title-second-section:hover {
  color: var(--black-one);
}

.line-height-2rem {
  line-height: 2rem;
}

.firts-article-third-section {
  position: relative;
}

.second-article-third-section {
  position: relative;
}

.third-article-third-section {
  position: relative;
}

.fourth-article-third-section {
  position: relative;
}

.pic-1-firts-article-third-section {
  height: 60px;
  width: 60px;
  flex-shrink: 0;
  background-size: cover;
  background-position: 50%;
  cursor: pointer;
  background-image: url(assets/pic-1-firts-article-third-section.webp);
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
}

.pic-2-firts-article-third-section {
  height: 60px;
  width: 60px;
  flex-shrink: 0;
  background-size: cover;
  background-position: 50%;
  cursor: pointer;
  background-image: url(assets/pic-2-firts-article-third-section.webp);
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
}

.pic-3-firts-article-third-section {
  height: 60px;
  width: 60px;
  flex-shrink: 0;
  background-size: cover;
  background-position: 50%;
  cursor: pointer;
  background-image: url(assets/pic-3-firts-article-third-section.webp);
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
}

.pic-4-firts-article-third-section {
  height: 60px;
  width: 60px;
  flex-shrink: 0;
  background-size: cover;
  background-position: 50%;
  cursor: pointer;
  background-image: url(assets/pic-4-firts-article-third-section.jpg);
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
}

.title-firts-article-third-section {
  background-color: var(--orange-two);
  color: white;
  padding: 10.7px 16px 10.7px 84px;
}

.subtitle-firts-article-third-section {
  background-color: var(--orange-three);
  padding: 10.7px 16px 10.7px 84px;
}

.subtitle-2-firts-article-third-section {
  text-transform: uppercase;
  color: black;
  opacity: 0.5;
  font-size: 0.7rem;
}

.body-firts-article-third-section {
  background-color: var(--orange-four);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.line-body-firts-article-third-section {
  line-height: 2rem;
  display: flex;
  align-items: center;
}

.icons-firts-article-third-section {
  font-size: 1.3rem;
  padding-right: 0.8rem;
  cursor: pointer;
}

.text-icons-firts-article-third-section {
  text-decoration: none;
  color: var(--gray-three);
}

.text-icons-firts-article-third-section:hover {
  color: black;
}

.footer-firts-article-third-section {
  background-color: var(--orange-four);
  border-top: 1px solid rgba(255,68,34,.25);
  padding: 1rem;
}

.text-footer-firts-article-third-section {
  text-decoration: none;
  color: #555555;
}

.another-text-footer-firts-article-third-section {
  color: #aaaaaa;
}

/* tablet screen style */
@media screen and (min-width: 768px) {
  .firts-section {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "firts-article second-article"
    "firts-article third-article";
    height: 60vh;
  }

  .firts-article-firts-section {
    grid-area: firts-article;
  }

  .second-article-firts-section {
    grid-area: second-article;
  }

  .third-article-firts-section {
    grid-area: third-article;
  }
}

/* desktop screen style */
@media screen and (min-width: 1024px) {

}